{
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "istanbul",
      {
        "exclude": ["spec/**/*.js"]
      }
    ]
  ],
  "presets": ["env"]
}
